
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background: #eb96ae;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    user-select: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__title{
  text-align: center;
  color: blueviolet;
}
.header__nav {
  margin-top: 10px;
  background-color: aqua;
opacity: 0.5;
}
.nav__list{
 display: flex;
  flex-direction: column;
  justify-content: space-between;
}